@keyframes ldio-62xhkk6ebe9 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-62xhkk6ebe9 div {
  left: 94.56px;
  top: 61.07px;
  position: absolute;
  animation: ldio-62xhkk6ebe9 linear 1.2048192771084336s infinite;
  background: #2e50a7;
  width: 7.88px;
  height: 19.7px;
  border-radius: 2.1670000000000003px / 2.1670000000000003px;
  transform-origin: 3.94px 37.43px;
  box-sizing: content-box;
}
.ldio-62xhkk6ebe9 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.0542168674698795s;
  background: #2e50a7;
}
.ldio-62xhkk6ebe9 div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: -0.9036144578313252s;
  background: #2e50a7;
}
.ldio-62xhkk6ebe9 div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: -0.753012048192771s;
  background: #2e50a7;
}
.ldio-62xhkk6ebe9 div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: -0.6024096385542168s;
  background: #2e50a7;
}
.ldio-62xhkk6ebe9 div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: -0.4518072289156626s;
  background: #2e50a7;
}
.ldio-62xhkk6ebe9 div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: -0.3012048192771084s;
  background: #2e50a7;
}
.ldio-62xhkk6ebe9 div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: -0.1506024096385542s;
  background: #2e50a7;
}
.ldio-62xhkk6ebe9 div:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: 0s;
  background: #2e50a7;
}
.loadingio-spinner-spinner-g1brk9h33po {
  width: 197px;
  height: 197px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-62xhkk6ebe9 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
