@font-face {
	font-family: 'Proxima Nova';
	src: url('./assets//fonts/Proxima\ Nova\ Thin.otf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('./assets//fonts/ProximaNova-Regular.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('./assets//fonts/Proxima\ Nova\ Bold.otf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('./assets/fonts/Proxima\ Nova\ Extrabold.otf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

html{
	background-color: #fff;
}

body {
  margin: 0;
  font-family: 'Proxima Nova';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F6FA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
